%h2= l(:label_edit_hr_candidate)

- labelled_form_for @hr_candidate, :html => { :id => 'hr_candidate-form', :multipart => true, :method => :put} do |f|
  = render :partial => 'form', :locals => { :f => f }
  = submit_tag l(:button_save)

